#friends-display-link{
    display: block;
    text-align: center;
    background-color: var(--light-dark);
    padding : 14px 0;
    /* font-size: 16px; */
    margin-bottom: 30px;
    margin-top : -15px;
    font-weight: 300;
    opacity: 0.7;
}

#friends-display-link i{
    color : white;
}
.friends-screen__channel{
    margin-top : 10px;
    border-top: var(--main-border);
    padding-top: 20px;
}
.friends-screen__chnnel-header{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    color : var(--white);
}

@keyframes hideSplashScreen{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        visibility: hidden;
    }
}

#splash-screen{
    background-color: var(--green);
    position: absolute;
    height : 100vh;
    width : 100vw;
    top : 0;
    z-index : 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    animation : hideSplashScreen 0.3s ease-in-out forwards;
    animation-delay: 0.4s;
}