.icon-row{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.icon-row__icon{
    padding: 15px 15px 10px;
    width : 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-row__icon:hover{
    color : var(--green);
    background-color: var(--light-dark);
    border-radius: 10px;
    cursor: pointer;
}
.icon-row__icon i{
    font-size: 35px;
}
.icon-row__icon span{
    margin-top: 15px;
    text-align: center;
}