.screen-header{
    display : flex;
    justify-content: space-between;
    align-items: center;
    /* padding : 50px 20px 20px; */
    padding : var(--horizontal-space);
    padding-top : 45px;
    margin-bottom: 10px;
}
.screen-header__title{
    font-size: 28px;
    font-weight: 600;
    color : var(--green);
}
.screen-header__icons span{
    margin-left: 25px;
}
.friends-screen{
    padding : 0px var(--horizontal-space);
}
.screen-header__dot{
    position: absolute;
    right : 20px;
    top : 45px;
}

@keyframes rotateIcon{
    from{
        transform: none;
    }
    to{
        transform: rotateZ(360deg);
    }
}

.screen-header__icons i:hover{
    color : var(--green);
    animation : rotateIcon 1s linear infinite;
}